div.ui.segment.segment-clanak {
    box-shadow: 2px 2px 5px #888888;
    padding: 5px !important;
    height: 100%;
    position: relative;
}
div.ui.segment.segment-clanak:hover {
    box-shadow: 5px 5px 8px #888888;
    cursor: pointer;
}
div.ui.small.header.clanak-istaknuto {
    padding: 5px;
    color: #1d92ca;
    padding-bottom: 10px;
    border-bottom: 2px solid #f2f2f2;
    margin-bottom: 5px;
    font-size: 14px;
}
img.ui.fluid.image.istaknuto-img {
    padding-left: 15px;
    padding-right: 15px;
}
div.ui.medium.header.clanak-naslov {
    margin: 0;
    padding: 10px;
    color: black;
    border-bottom: 2px solid #f2f2f2;
}
p.clanak-tekst {
    padding: 10px;
    text-align: justify;
    margin-bottom: 40px;
    color: black;
}
div.ui.small.header.clanak-datum {
    margin: 0;
    padding: 10px;
    color: black;
    border-top: 2px solid #f2f2f2;
    position: absolute;
    bottom: 0;
    height: 40px;
    width: 100%;
    left: 0;
}