div.ui.segment.clanak {
    margin: 20px;
    box-shadow: 5px 5px 8px #888888;
}
div.ui.small.header.vijest-heading {
    color: black !important;
    padding: 10px;
    margin: 0 !important;
    border-bottom: 2px solid #f2f2f2;
    font-size: 24px;
    font-family: Consolas;
}
div.ui.small.header.vijest-category {
    color: #1d92ca !important;
    padding: 10px;
    text-transform: uppercase;
    margin: 0 !important;
    padding-bottom: 0;
    font-size: 14px;
}
p.vijest-text {
    padding: 20px;
    text-align: justify;
    border-bottom: 2px solid #f2f2f2;
}
img.ui.fluid.image.vijest-img {
    padding-left: 20px;
    padding-right: 20px;
}
div.info {
    padding: 10px;
    color: #222222;
    font-size: 13px;
    margin: 5px;
}
span.info-admin {
    color: #124F98;
    padding-right: 10px;
}
span.info-date {
    padding-left: 10px;
    padding-right: 10px;
    border-right: 1px solid grey;
    float: right;
}
span.info-time {
    padding-left: 10px;
    padding-right: 10px;
    float: right;
}
.list-category {
    font-size: 12px;
    text-transform: uppercase;
}
.list-title {
    margin: 10px;
    margin-left: 0;
    color: black;
    font-size: 16px;
}
span.list-date {
    float: right;
    color: grey;
}
div.item.lista-najnovije {
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 2px solid #e8e8e8;
}
div.item.lista-najnovije:hover {
    opacity: .5;
}